In [2]:
import pandas as pd 
import numpy as np

In [ ]:
dados=pd.read_csv('weight_change_dataset.csv')
display(dados.head())
estatistica=dados.describe()
display(estatistica)
df_copia=dados.copy() #BOAS PRÁTICAS: sempre inicie com uma cópia do dataset original para as primeiras manipulações e edições de dados
display(df_copia) # comentario

In [ ]:
#Selecionando todos os Níveis de Qualidade de Sono que sejam 'Excellent':
df_loc=df_copia.loc[df_copia['Sleep Quality']=='Excellent']
display(df_loc)

In [ ]:
#selecionando informações por indices (limites e/ou colunas específicas)
df_loc2=df_copia.iloc[:2,:4]
display(df_loc2)

In [ ]:
#selecionando a partir de filtros com teste lógico
df_query=df_copia.query('Age<40')
display(df_query)

Atividade 1: (Aula)

A partir do dataset trabalhado nesta aula, trace 3 perfis e dos demonstre no display:
Perfil 1 : Pessoas sedentárias com dietas alimentares de até 2200 calorias;
Perfil 2 : Pessoas acima de 50 anos com hábitos muito bons de atividades físicas;
Perfil 3: Pessoas com menos de 20 anos que participaram dos estudos nutricionais por mais de 1 mês

Atividade 2: (Github)
Reaplique os processo de leitura, cópia e consultas exercitadas em aula utilizando um dataset livre pesquisapo por você (dê preferência a arquivos . csv . xlsx ou .json).

In [ ]:
# ATIVIDADE 1
import pandas as pd
dados=pd.read_csv('weight_change_dataset.csv')
print(dados.columns)

# Perfil 1: Pessoas sedentárias com dietas alimentares de até 2200 calorias 
perfil_1 = dados.loc[(dados['Physical Activity Level'] == 'Sedentary') & (dados['Daily Calories Consumed'] <= 2200)] 
display("Perfil 1:\n", perfil_1)

# Perfil 2: Pessoas acima de 50 anos com hábitos muito bons de atividades físicas
perfil_2 = dados.loc[(dados['Age'] > 50) & (dados['Physical Activity Level'] == 'Very Active')]
display("Perfil 2:\n", perfil_2)

# Perfil 3: Pessoas com menos de 20 anos que participaram dos estudos nutricionais por mais de 1 mês
perfil_3 = dados.query("Age < 20 and `Duration (weeks)` > 4")
display("Perfil 3:\n", perfil_3)

In [15]:
#Atividade 2: (Github)
#Reaplique os processo de leitura, cópia e consultas exercitadas em aula utilizando um dataset livre pesquisapo por você 
#(dê preferência a arquivos . csv . xlsx ou .json).

import pandas as pd
dados=pd.read_csv('ClassicDisco.csv')
print(dados.columns)

# Perfil 1: Album e artista
perfil_1 = dados[['Album', 'Artist']][dados['Year'] <= 1990]
display("Perfil 1:\n", perfil_1)

# Perfil 2: Pessoas acima de 50 anos com hábitos muito bons de atividades físicas
perfil_2 = dados[['Album', 'Energy']][dados['Year'] > 1990]
display("Perfil 2:\n", perfil_2)

Index(['Track', 'Artist', 'Album', 'Year', 'Duration', 'Time_Signature',
       'Danceability', 'Energy', 'Key', 'Loudness', 'Mode', 'Speechiness',
       'Acousticness', 'Instrumentalness', 'Liveness', 'Valence', 'Tempo',
       'Popularity'],
      dtype='object')

'Perfil 1:\n'

                                         Album            Artist
0                             A Taste Of Honey  A Taste Of Honey
1                             A Taste Of Honey  A Taste Of Honey
2                             A Taste Of Honey  A Taste Of Honey
3             Another Taste (Expanded Edition)  A Taste Of Honey
4                             A Taste Of Honey  A Taste Of Honey
..                                         ...               ...
719  Twelve Inch Classics from the 70s, Vol. 2            Voyage
720                                   Fly Away            Voyage
721                                     Voyage            Voyage
722                                   Fly Away            Voyage
723                                   Fly Away            Voyage

[718 rows x 2 columns]

'Perfil 2:\n'

                                   Album  Energy
98               One Hit Magic: The 70's   0.631
111                           Discoset 1   0.707
113  Love In C Minor (Franc Moody Remix)   0.758
127           C'est Chic (2018 Remaster)   0.670
137       Down and Counting - The Single   0.917
410                    No Doubt About It   0.852